* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: dimgray;
}

#info {
  position: relative;
  top: 300px;
  line-height: 9px;
  color: white;
  font-family: igrica;
}
canvas {
  width: 660px;
  height: 660px;
  display: none;
}
#canvas {
  border: 0;
  width: 660px;
  height: 660px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}
@font-face {
  font-family: igrica;
  src: url(ARCADECLASSIC.TTF);
}
p {
  font-family: igrica;
  font-size: 90px;
  color: white;
  position: relative;
  top: 120px;
  margin-top: 0;
}
#btn {
  font-family: igrica;
  font-size: 50px;
  background-color: transparent;
  border-color: transparent;
  color: white;
  position: relative;
  top: 150px;
  transition: background-color 1s;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
#difficulty {
  font-family: igrica;
  font-size: 50px;
  background-color: transparent;
  border-color: transparent;
  color: white;
  position: relative;
  /* top: 150px; */
  transition: background-color 1s;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
select option { 
  background-color: black;

}
#btn:hover {
  cursor: pointer;
  background-color: grey;
  border-radius: 10px;
}
#mainPage, #won, #lost{
  background: #000;
  width: 660px;
  height: 660px;
  margin-left: auto;
  margin-right: auto;
}
body {
  text-align: center;
  padding: 10px;
}
#winOrLose{
  margin-bottom: 50px;
}

